<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<div class="row">
  <div class="span12">
    Enrolled Customer Value
    <hr/>
  </div>
  
</div>
<div class="row-fluid">
  <div class="span4 hero-unit" >
    <div class="stathead" id="stathead">
      Customers Who Visited
    </div>
    <div class="statbody" id="statbody">
      100
    </div>
  </div>
  <div class="span4 hero-unit">
    <div class="stathead">
      Total Visits
    </div>
    <div class="statbody" id="statbody">
      100
    </div>
  </div>
  <div class="span4 hero-unit">
    <div class="stathead">
      Average Visits per Session
    </div>
    <div class="statbody">
      100
    </div>
  </div>
</div>